.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login__container > form > h1 {
  font-weight: 520;
  font-size: 28px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  width: 100%;
  margin-right: 0;
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  outline: 0;
  color: #111;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.login__container > p {
  font-size: 12px !important;
  line-height: 1.5 !important;
  margin-top: 18px !important;
  width: 100%;
}

.login__signInButton {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 100% !important;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  border-radius: 3px;
  margin-top: 10px;
}

.login__registerButton {
  position: relative;
  overflow: hidden;
  height: 29px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid;
  font-size: 13px;
  line-height: 29px;
  margin-top: 10px;
  border-color: darkgray;
  padding: 0 10px 0 11px;
  text-align: center;
}
